/* You can add global styles to this file, and also import other style files */


/* .toast-top-right {
    top: 60px;
    right: 20px;
    z-index: 1050;
    background-color: gray;
    padding: 5px;
    border-radius: 3px;
} */